/* --------------------------------------------------------------------- */
/* 구조 가상 클래스 셀렉터  */
div.structural p:first-child {
    color: red;
}


div.structural p:last-child {
    color: skyblue;
}

/* --------------------------------------------------------------------- */
/*  :nth-child(n)  : 셀렉터에 해당하는 모든 요소 중 앞에서 n번째인 자식 요소를 선택 
    :nth-last-child(n)   : 셀렉터에 해당하는 모든 요소 중 뒤에서 n번째인 자식 요소를 선택 */

/* 여기서 중요한 것은 n = 0 부터 시작함  */
/*  n = 0
    짝수 : 2n 
    홀수 : 2n+1  
*/

div.nth_child ol > li:nth-child(2n) {
    color : orange;
}
div.nth_child ol > li:nth-child(2n+1) {
    color : rgb(21, 209, 84);
}
div.nth_child ul > li:nth-child(4) {
    color : palevioletred;
}
div.nth_child ul > li:nth-last-child(1) {
    color : red;
    font-style: oblique;
}


/* :first-of-type : 셀렉터에 해당하는 요소의 부모 요소의 자식 중에서 첫번째로 등장하는 요소 선택 
   :last-of-type  : 셀렉터에 해당하는 요소의 부모 요소의 자식 중에서 마지막에 등장하는 요소 선택
   :nth-of-type(n)   : 셀렉터에 해당하는 요소의 부모 요소의 자식 중에서 앞에서 n번째 등장하는 요소 선택 
   :nth-last-of-type(n) : 셀렉터에 해당하는 요소의 부모 요소의 자식 중에서 뒤에서 n번째 등장하는 요소 선택
*/
.para {
    font-size: 20px;
    color : white;
    background-color: gray;
}
div.of_type p:first-of-type {
    color : blue;
}
div.of_type p:last-of-type {
    color : hotpink;
}
div.of_type p:nth-of-type(2) {
    color : skyblue;
}
div.of_type p:nth-of-type(2n+1) {
    color : green;
}
/* --------------------------------------------------------------------- */
/* 정합성 체크 셀렉터
   :valid   : 정합성 검증이 성공한 input요소/form요소를 선택 
   :invalid : 정합성 검증이 실패한 input요소/form요소를 선택
 */
div.validity input[type="text"]:valid {
    background-color: green;
    color: white;
}
div.validity input[type="text"]:invalid {
    background-color: red;
    color: white;
}
/* --------------------------------------------------------------------- */
/*  가상 요소 셀렉터
    ::first-letter : 콘텐츠의 첫 글자를 선택
    ::first-line : 콘텐츠의 첫 줄을 선택, 인라인요소x - 블록요소o 
    ::after   : 콘텐츠의 뒤에 공간을 선택, content와 함께 사용
    ::before  : 콘텐츠의 앞에 공간을 선택, content와 함께 사용 
    ::selection : 드래그한 콘텐츠를 선택 
*/

div.pseudo_ele p::first-letter {
    font-size: 3em; /*3배로 글자를 키워라*/
}
div.pseudo_ele p::first-line {
    color: red ; 
}
div.pseudo_ele h2::before {
    content: "!!! HTML !!!";
    color : blueviolet;
}
div.pseudo_ele h2::after {
    content: "!!! CSS !!!";
    color : orange;
}
div.pseudo_ele ::selection { /* 마우스를 드래그해서 선택하기 때문에 */
    color : yellow;
    background-color: blue;
}