/*   <폰트/화면 크기의 단위>
   1. 절대단위 px 모니터의 화면을 구성하는 점 1개의 크기
   2. % 비율 20%
   3. em : 부모 요소의 텍스트 크기에 상대적인 크기 1em, 2em
      부모 요소의 font-size: 10px일 때, 자식 요소의 font-size: 2em 이면
      자식 요소의 크기는 20px가 된다. 
   4. rem : html 태그의 텍스트 크기에 상대적인 크기 1rem, 2rem
      html의 기본 폰트 사이즈가 16일 때, 2rem은 32px이 된다.  
   5. vw 뷰포트 너비를 기준으로 상대적인 크기를 갖음
   6. vh 뷰포트 높이를 기준으로 상대적인 크기를 갖음
*/ 

/* .parent {
    font-size: 10px;
    color: purple;
}
.child {
    font-size: 200%;
}
.child-to-child {
    font-size: 2rem;
}
.parent {
    font-size: 1vw;
}
.child {
    font-size: 2vw;
} */


/* ---------------------------------------------------------------------------------------- */
/* <색상 표기법>
   1. 키워드 표기법 : black, white, red 등 150여개 종류 있음
   2. RGB 표기법 : red, green, blue  255는 밝음, 0은 어두움 (0~255)
      rgb(red, green, blue) 
   3. RGBA 표기법 : RGB에 알파 채널 추가 , 알파채널(투명도) 
      rgba(red, green, blue, alpha)
      alpha : 1 --> 불투명
      alpha : 0 --> 투명
    4. HEX 표기법 : rgb를 16진수로 표현, 1~9a~f
      #redgreenblue #00ff00
*/
.child {
    color: rgb(10, 25, 240);
}
.child-to-child {
    color: rgba(248, 25, 240, 0.5)
}
.font_size > p {
    color: #339dda;
}
/* ---------------------------------------------------------------------------------------- */
/* <텍스트 속성> */
/* font-family  */
.font_size > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* font-size  */
/* 절대값은 px, %, em은 부모요소에 따라 상대적으로 변한다. */
/* rem은 웹브라우저의 기본 폰트 사이즈를 기준으로 변함   */
.font_size > p {
    font-size: 0.7rem;
}


/* 숫자로도 표현 가능, normal, bold 등도 가능 
   1. 숫자 표기법 100 - 900
   2. 키워드 표기법 lighter, normal, bold, bolder
      lighter랑 bolder는 부모 요소의 상대적인 값 
      normal 400
      bold 700
*/
.font_size p:first-child {
    font-weight: bold;
}

/* font-style
   normal style,  italic 기울임, oblique 기울임
*/
.font_size p.italic {
    font-size: 20px;
    font-style: italic;
}
.font_size p.oblique {
    font-size: 15px;
    font-style: oblique;
    color: blueviolet;
}

/* text-align  */
/* 글자 위치 정렬 left, right, center, justify */
.font_size p.oblique {
    text-align: center;
}


/* text-decoration 글자에 선긋기 */
/* line-through : 텍스트 중간에 선긋기
   overline : 텍스트 위에 선긋기
   underline : 텍스트 밑에 선긋기
*/
.font_option :nth-child(2) {
    text-decoration: line-through;
}
.font_option :nth-child(3) {
    text-decoration: overline;
}
.font_option :nth-child(4) {
    text-decoration: underline;
}


/* line-height 줄간격
   normal, 숫자, %, px 로 조절 가능 
*/
.font_option :nth-child(5) {
    line-height: 15px;
    
}
.font_option :nth-child(6) {
    line-height: 50px;
}
/* ---------------------------------------------------------------------------------------- */
/* boxmodel */
/* margin 영역 */
/* 마진은 요소와 요소 사이의 간격 */

.boxmodel .box1 {
    border: solid 1px black;
    margin: 20%; /* 4면을 전부 20% 마진으로 줌 */
}
.boxmodel .box2 {
    border: solid 1px black;
    margin-bottom: 20px;
}
.boxmodel .box3 {
    border: solid 1px black;
    margin-left: 20px;
    margin-right: 10%;
}
.boxmodel .box4 {
    border: solid 1px black;
    width: 98px;
    margin-right: 10%;
}
.boxmodel .box5 {
    width: 200px;
    border: solid 1px black;
    margin: 50px 20px 10px 100px;
       /*  top right bottom left  */
}
/* ---------------------------------------------------------------------------------------- */
.boxmodel2 .box2_1 {
    border-width: 4px;
    border-style: dashed;
    border-color: red;
    text-align: center;
    margin: 10px 0 10px 0;
}
.boxmodel2 .box2_2 {
    border-width: 2px;
    border-style: dashed;
    border-color: green;
    text-align: center;
    margin: 10px 0 10px 0;
}
.boxmodel2 .box2_3 {
    border-width: 4px;
    border-style: dotted;
    border-color: rgb(221, 38, 151);
    text-align: center;
    margin: 10px 0 10px 0;
}
.boxmodel2 .box2_4 {
    border-width: 20px;
    border-style: groove;
    border-color: rgb(97, 128, 231);
    text-align: center;
    margin: 10px 0 10px 0;
}
.boxmodel2 .box2_5 {
    border-width: 20px;
    border-style: ridge;
    border-color: rgb(224, 214, 71);
    text-align: center;
    margin: 10px 0 10px 0;
}
.boxmodel2 .box2_6 {
    border-width: 20px;
    border-style: inset;
    border-color: green;
    text-align: center;
    margin: 10px 0 10px 0;
}
/* .boxmodel2 .box2_7 {
    border-width: 20px;
    border-style: outset;
    border-color: rgb(219, 79, 149);
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 30%;
} */
.boxmodel2 .box2_8 {
    border-width: 10px;
    border-top-style: outset;
    border-bottom-style: dotted;
    border-color: rgb(8, 165, 47);
    text-align: center;
    margin: 10px 0 10px 0;
}
/* padding 영역 */
.boxmodel2 .box2_7 {
    padding: 100px;
    border-width: 20px;
    border-style: outset;
    border-color: rgb(219, 79, 149);
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 30%;
}

/* ---------------------------------------------------------------------------------------- */
/* 요소의 배경 속성으로 배경색, 이미지 넣기 */
/* background-color  */
/* background-repeat : no-repeat, repeat-x, repeat-y, repeat, round, space */

.boxmodel2 .box2_9 {
    padding: 350px;
    border-width: 20px;
    border-radius: 50%;
    background-image: url('../pepe.jpg');
    background-repeat: space;

}
/* background-size
   auto : 이미지 크기 유지
   cover : 가로세로 비율 유지, 크기를 확대해 꽉 채움
   contain : 비율 유지 이미지가 배경 요소에 들어가도록 확대  
*/

.boxmodel2 .box2_9 {
    background-image: url('../pepe.jpg');
    background-repeat: no-repeat;
    background-size : cover;
    background-position: 
}


