
#bookname {
    text-shadow: 2px;
    font-size: xx-large; 
}


.title {
    color : red;
    text-align:center;
}

.odd {
    color : green;
    text-align: left;
}

.even {
    color: blueviolet;
    text-align: right;
}


.sweet {
    text-align: center;
    font-size: xx-large; 
}

.husband {
    text-align: center;
    font-style: oblique;
}

.google {
    text-align: center;
}







/* 주석 */
/* css는 선택자{  선택자는 태그명, class명, id명 
        스타일 속성1: 값;
        스타일 속성2: 값;
        스타일 속성3: 값;
    }  */


/* p {
    color: red;
    text-align: left;
    font-size: 12px;
} */